.logo{
    width: 83px;
    margin: 0;
}

.page-header{
    background-color: #0090e3;
    height: 52px;   
    position: fixed;
    z-index: 99999;
    width: 100%; 
}

.panel{
    &.wrapper{
        display: none;
    }
}

.header{
    &.content{
        padding: 5px 20px;
        height: 52px; 
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &.links{
        display: flex;
        align-items: center;
        align-content: center;
        margin: 0;
        padding: 0;
            li{
                margin-right: 10px;
                margin-bottom: 0;
                list-style: none;
                    a{
                        color: #fff;
                    }
            }
    }

    li{
        list-style: none;
        a{
            color: #fff;
        }
    }
}

.block{
    &.block-search{
        width: 555px;
        .block{
            &.block-content{
                .form{
                    &.minisearch{
                        .actions{
                            .action{
                                &.search{
                                    opacity: 1;
                                    &::before{
                                        font-size: 20px;
                                        line-height: 40px;
                                        color: #0090e3;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
                                
    }
}

#search{
    &.input-text{
        height: 40px;
        border-radius: 5px;
        border: none;
        font-size: 12px;
    }
}

.nav-sections{
    background-color: #f2f7fc;
    position: fixed;
    z-index: 99999;
    top: 52px;
    width: 100%;
}

.navigation{
    background-color: #f2f7fc;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    
    ul {
        display: flex;
        justify-content: space-between;
        width: 100%;
        li{
            margin: 0;
            margin-right: 10px;
            button{
                height: 52px;
                box-shadow: none;
                padding: 0;
                border: 0px;
                background-color: #f2f7fc;
                color: #0090e3;
                font-weight: 600;
                font-size: 13px;
                &:hover{
                    border-bottom: 3px solid  #0090e3;
                }
            }
        }
    }
}
.page-footer{
    background-color: #fff;
    padding-bottom: 0;
}

.footer.content{
    margin: 0;
    max-width: 100%;
    padding: 0;
    .footer_menu__section3 .section3__item{
        margin-left: 40px;
        margin-top: 25px;
    }
    .footer_menu__section5 .section5__item{
        margin-right: 32px;
        &:last-child {
            margin-right: 0;
        }
    }
    ul{
        padding-right: 0;

        li{
            margin: unset;
        }
    }
} 

.footer_menu_content{
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
    padding-left: 24px;
    padding-right: 24px;

    &--section2,
    &--section3{
        display: flex;
        justify-content: space-between;
    }
}

.footer_menu__section1{
    background-color: #fff;
    margin-top: 24px;
    .section1{
        &__title{
            color: #111;
            margin: 0;
            font-size: 18px;
            font-weight: 700;
            line-height: 55.2px;
        }
        &__block{
            background-color: #f2f7fc;
            padding: 16px;
            width: 218px;
            margin-top: 12px;
            margin-bottom: 8px;
            &__title{
                color:#111;
                font-size: 14px;
                font-weight: 700;
                line-height: 17.5px;
                margin-bottom: 4px;
                margin-top: 0;
            }
        }
        &__text{
            color: #111;
            font-size: 13px;
            line-height: 19.5px;
        }
        &__link{
            color: #0090e3;
            font-size: 13px;
            font-weight: 19.5px;
            margin-top: 8px;
        }
        &__button{
            background-color: #090;
            color: #fff;
            box-shadow: inset 0 -2px 0 0 #090;
            border: none;
            border-radius: 4px;
            width: 100%;
            cursor: pointer;
            font-size: 13px;
            font-weight: 700;
            line-height: 16px;
            padding: 16px;
            margin-top: 16px;
            margin-bottom: 16px;
            &:hover{
                background-color: #005e00;
                box-shadow: inset 0 -2px 0 0 #005e00;
            }
        }
    }
}

.footer_menu__section2{
    background-color: #fff;
    .section2{
        &__title{
            color:#111;
            font-size: 14px;
            font-weight: 700;
            line-height: 17.5px;
            margin: 0;
        }
        &__list{
            display: flex;
        }
        &__item{
            padding-right: 16px;
            &:last-child {
                padding-right: 0;
            }
        }
        &__link{
            color: #111;
            font-size: 13px;
            line-height: 19.5px;
            &:hover{
                text-decoration: none;
                color: #0090e3;
            }
        }
        &__orange{
            color: #f60;
            font-size: 13px;
            line-height: 19.5px;
            font-weight: 700;
            &:hover{
                text-decoration: none;
                color: #f60;
            }
        }
    }
}

.footer_menu__section3{
    background-color: #0090e3;
    margin-top: 16px;
    color:#fff;
    .section3{
        &__block{
            padding: 32px 0;
        }
        &__title{
            font-size: 14px;
            font-weight: 700;
            line-height: 18.75px;
            margin-bottom: 4px;

        }
        &__image{
            display: flex;
            align-items: flex-end;
        }
        &__text{
            font-size: 13px;
            line-height: 19.5px;
            margin-bottom: 16px;
        }
        &__form{
            margin-top: 12px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
        &__link{
            color: #fff;
        }
        &__list{
            display: flex;
            flex-wrap: wrap;
        }
        &__item{
            flex-basis: calc((100% - 40px) / 2);
        }
        &__icon{
            fill: #fff;
        }

    }

    .form{
        &__label{
            font-size: 13px;
            font-weight: 600;
            line-height: 19.5px;
        }
        &__input{
            width:308px;
            border-radius: 4px;
            padding-left: 8px;
            padding-right: 28px;
        }
        &__button{
            color: #fff;
            background-color: #285dab;
            cursor: pointer;
            box-shadow: inset 0 -2px 0 0 #285dab;
            outline: none;
            border: none;
            padding: 16px;
            font-size: 13px;
            font-weight: 700;
            line-height: 16px;
        }

    }
}

.footer_menu__section4{
    background-color: #0090e3;
    padding: 32px 0;
    border-top: 0.1px solid #fff6;
    .section4{
        &__list{
            display: flex;
            justify-content: space-between
        }
        &__item{
            &__list{
                a{
                    color: #fff;
                }
                .section4{
                    &__link{
                        margin-bottom: 12px;
                        font-size: 15px;
                        font-weight: 700;
                        line-height: 18.75px;
                        &__last{
                            margin-top: 12px;
                        }
                    }
                }
            }
        }
    }
    
}

.footer_menu__section5{
    background-color: #fff;
    padding: 16px 0;
    .section5{
        &__list{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__link{
            color: #111;
            font-size: 13px;
            line-height: 19.5px;
            align-items: center;
            display: flex;
            &:hover{
                text-decoration: none;
                color: #0090e3;
            }
        }
        &__orange{
            color: #f60;
            font-size: 13px;
            line-height: 19.5px;
            font-weight: 700;
            &:hover{
                text-decoration: none;
                color: #f60;
            }
        }
        &__icon{
            margin-right: 5px;
        }
    }
}

.copyright{
    border-top: 1px solid #c3c2c2;
    background-color: #fff;
    color: #111;
    padding-top: 16px;
    padding-bottom: 16px;
    ul{
        display: flex;
        list-style: none;
        margin-bottom: 16px;
        padding: 0;
        li{
            padding-right: 12px;
            border-right: 0.5px solid #ddd;
            margin-right: 12px;
            &:last-child {
                padding-right: 0;
                margin-right: 0;
                border-right: none;
            }
            a{
                color:#0090e3;
                font-size: 13px;
                line-height: 19.5px;
                cursor: pointer;
            }
        }
    }
    span{
        font-size: 13px;
        line-height: 19.5px;
        margin-bottom: 16px;
    }
    .footer_menu_content--copyright{
        display: flex;
        flex-direction: column;
        align-items: center
    }    
}